<%= render :partial => 'nav' %>
<h2>Settings</h2>

<% form_tag do -%>
  <p><strong>Choose your own path for the cached iCal files to reside, the current value is shown.</strong></p>
  <p>
    iCal Files Path<br />
    public/<%= text_field "icals_path", "value" %>
    <%= submit_tag 'Save' %>
  </p>
<% end -%>

