<%= render :partial => 'nav' %>

<% for column in Calendar.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @calendar.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @calendar %> |
<%= link_to 'Back', :action => 'list' %>
