<% content_for(:page_css) do -%>
  table, tr, td {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
  }
  #mainNav {
    margin:15px 0px 10px 0px;
    float:right;
    text-align:right;
  }
  #mainNav li {
    display: inline;
    padding: 0px 20px 0px 0px;
  }
  #mainNav li a,
  table a {
    color:rgb(150,50,50);
    text-decoration:none;
  }
  #mainNav li a:hover,
  table a:hover {
    color:rgb(200,50,50);
    text-decoration:underline;
  }
  .text {
    border: 1px solid #cdc295;
    padding:2px;
  }
  tr.ical_event {
    background-color: rgb(220,220,220)
  }

<% end -%>
<ul id="mainNav">
    <li><%= link_to "Calendars", admin_calendars_path %></li>
    <li><%= link_to "Events", admin_events_path %></li>
    <li><%= link_to "iCal Subscriptions", admin_icals_path %></li>
</ul>
